<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @article_reading_list.article %>
</p>

<p>
  <strong>Reading list:</strong>
  <%= @article_reading_list.reading_list %>
</p>

<p>
  <strong>State:</strong>
  <%= @article_reading_list.state %>
</p>

<p>
  <strong>Active:</strong>
  <%= @article_reading_list.active %>
</p>

<%= link_to 'Edit', edit_article_reading_list_path(@article_reading_list) %> |
<%= link_to 'Back', article_reading_lists_path %>
